.card{
  background-color: #515151;
}


.card-image{
  object-fit: cover;
  object-position: center center;
  height: 360px;
}

.card-title{
  color: white;
  padding: 0px !important;
  font-size: large;
}


.card-subtitle{
  color: white;
  padding: 0px !important;
}
