/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
background-color: #68A357;
background-image: url('https://www.gamereactor.it/media/98/rickmortykan_3489813b.jpg');
;}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

